# AI 버전 정보
AI_VERSION=v1.0.065
# MAX CONTEXT 사이즈 
MAX_CONTEXT_SIZE=500000

# 플랫폼별 컨텍스트 윈도우의 75%를 안전 한도로 설정
MAX_TOKENS_CLAUDE=150000
MAX_TOKENS_GENAI=96000
MAX_TOKENS_GEMINI=786000

# 최대 유지할 메시지 수 (.env에서 설정 가능, 기본값 30)
MAX_MESSAGES_TO_KEEP=6

# GenAI API 로깅 (true: 켜기 / false: 끄기)
GEN_AI_LOG_ENABLED=false
# Gemini API 로깅 (true: 켜기 / false: 끄기)
GEMINI_AI_LOG_ENABLED=true
# Claude API 로깅 (true: 켜기 / false: 끄기)
CLAUDE_AI_LOG_ENABLED=true

# gen-ai-chat-code.py
ENDPOINT_URL="https://scisportaldev.samsungif.net/rest/genAi"
YOUR_CLIENT_KEY="API_CLIENT_APP"
YOUR_CLIENT_SECRET=""
YOUR_MODEL_ID="gpt-oss-120B-medium"

# claude-ai-cat-code.py
CLAUDE_API_ENDPOINT="https://api.anthropic.com"
ANTHROPIC_API_KEY=""
CLAUDE_MODEL_ID="claude-3-5-haiku-latest"

# gemini-ai-chat-code.py
GEMINI_API_KEY=""
GEMINI_MODEL_ID="gemini-3-pro-preview"
GEMINI_API_ENDPOINT="https://generativelanguage.googleapis.com/v1beta"
