# Created by https://www.toptal.com/developers/gitignore/api/intellij,visualstudiocode,pycharm+iml
# Edit at https://www.toptal.com/developers/gitignore?templates=intellij,visualstudiocode,pycharm+iml

# 빌드 파일 제외
target/

# 환경파일 제외
.env

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
.idea/

### PyCharm+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


### Python ###
__pycache__/
*.py[cod]
*$py.class

### logs ###
logs/

### Agent sessions ###
.agent_sessions/

### Build ###
target/
build_output/

# End of https://www.toptal.com/developers/gitignore/api/intellij,visualstudiocode,pycharm+iml